.dropout, .dropout *, .dropout *:before, .dropout *:after {
    box-sizing: border-box;
}

.dropout {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Rubik, sans-serif;
}

.dropout--scroll {
    scrollbar-width: thin;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    padding: 40px 0;
}

.dropout--scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.dropout--scroll::-webkit-scrollbar-thumb {
    background: #888;
}

.dropout--scroll::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.dropout--step {
    display: flex;
}

.dropout--step:first-child {
    padding-left: 40px;
}

.dropout--step:last-child {
    padding-right: 40px;
}

.dropout--visual, .dropout--difference {
    display: flex;
    padding-bottom: 42px;
    width: 80px;
    align-items: center;
    height: 442px;
    position: relative;
    justify-content: center;
}

.dropout--block {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffeac2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    max-height: 100%;
}

.-normal .dropout--block {
    background-color: #d7ebff;
}

.-service .dropout--block {
    background-color: #d4eeea;
}

.dropout--block-title {
    transform: rotate(-90deg);
    font-size: 18px;
    color: #323a44;
    white-space: nowrap;
}

.dropout--percentage {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #323a44;
    font-weight: 500;
}

.dropout--difference-visual {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e3e3e3;
    position: relative;
}

.dropout--difference-visual:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url("arrow.svg") center no-repeat;
}

.dropout--difference-visual.-positive:before {
    transform: rotate(180deg);
}

.dropout--difference-value {
    white-space: nowrap;
    position: absolute;
    font-size: 14px;
    color: #9b9b9b;
    margin-top: calc(50px + 20px + 17px);
    left: 0;
    right: 0;
    text-align: center;
}